<!DOCTYPE html>
<html lang="en">
<title>Sikkerhetsguiden</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Hjem</a>
    <a href="/svindel" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Svindel</a>
    <a href="/virus" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Virus</a>
    <a href="/forebygging" class="w3-bar-item w3-button w3-padding-large w3-white">Forebygging</a>
    <a href="/passordgenerator" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Passord Generator</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/svindel" class="w3-bar-item w3-button w3-padding-large">Svindel</a>
    <a href="/virus" class="w3-bar-item w3-button w3-padding-large">Virus</a>
    <a href="/tips3" class="w3-bar-item w3-button w3-padding-large">Forebygging</a>
    <a href="/passordgenerator" class="w3-bar-item w3-button w3-padding-large">Passord Generator</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Forebygging</h1>
  <p class="w3-xlarge">Hva kan man gjøre for å sikre seg selv best mulig?</p>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b><a id="innhold">Innhold</a></b></h1>
      <h3 class="w3-padding-32"><b><a href="#Forebygging">Mac OSX</a></b></h3>

    </div>
  </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><a id="Forebygging">Mac OSX</a></h1>
      <h5 class="w3-padding-32"><a href="#innhold">Tilbake til topp</a></h5>
      <h5 class="w3-padding-32">Det er en veldig vanlig misforståelse at en Mac ikke kan få virus. Det kan enhver Mac dessverre, og i Februar 2020 rapporterte Malwarebytes at trusselen til
      Mac hadde økt med en betydelig prosent, og nå ligger tilsvarende, om ikke mer i faresonen enn Windows-maskiner.
        <a href="https://resources.malwarebytes.com/files/2020/02/2020_State-of-Malware-Report.pdf">Lenke til rapporten her.</a> </h5>

      <h5 class="w3-padding-32">Vanligvis vil dette ikke ha så alt for mye å si for endebrukeren; man klikker ikke noen spenstige lenker eller surfer suspekt internett, så den innebygde
        antivirusen burde vel klare å ta den? Ja og nei. Mac kommer med antivirus,  <a href="https://business.blogthinkbig.com/antimalware-xprotect-macos/">men er i prinsippet svakt da XProtect (Macs svar på innebygget antivirus) i utgangspunktet bare leter etter
      allerede kjente virus.</a>   </h5>

      <img src="/static/macxprotect.png">
        <p style="color:#A9A9A9">En liste som kommer med oppdateringene til Mac som påpeker hva XProtect skal lete etter.
        <a href="https://www.howtogeek.com/217043/xprotect-explained-how-your-macs-built-in-anti-malware-works/">HowtoGeek</a></p>
      <h5 class="w3-padding-32">I konklusjon så kan det være greit å skaffe seg en tredjeparts antivirus, som <a href="https://www.bitdefender.com/solutions/antivirus-for-mac.html">BitDefender</a> eller <a href="https://www.malwarebytes.com/mac/">Malwarebytes</a> dersom
      du surfer en del på Mac. Om man bare bruker App Store, Netflix og leser avis er dette mindre relevant så klart. </h5>

    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><a id="placeholder">Kontosikkerhet</a></h1>
      <h5 class="w3-padding-32"><a href="#innhold">Tilbake til topp</a></h5>
      <h5 class="w3-padding-32">Redd for at Spotify-kontoen din, netflix-kontoen din eller noe lignende skal bli hacket, solgt og spredd?<br>
      Her er et par tips for å forebygge at dette kan skje: </h5>

      <h5 class="w3-padding-32">Ha et sikkert passord. Vi går litt mer inn på det <a href="/passordgenerator">her, </a>men det finnes nettverk av
      mennesker som stjeler kontoer og videreselger dem nesten kun ved passordgjenbruk. Om du legger inn passordet ditt i en nettside som blir hacket,
       så er det ikke usannsynlig å betenke seg at kombinasjonen av e-posten din og passordet ditt kanskje er i feil hender. Dette kan bli veldig
      problematisk om du bruker den samme kombinasjonen andre steder, spesielt e-posten din.</h5>

      <h5 class="w3-padding-32">Bruk 2-faktor autentisering. Dette støttes dog ikke av alle nettsider enda, men er et ekstra sikkerhetsledd som benyttes
      i tillegg til innlogging. </h5>




    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">

 </div>
 <p>Design laget av <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
