<!DOCTYPE html>
<html lang="en">
<title>Sikkerhetsguiden: Passordgenerator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/tips1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Phishing</a>
    <a href="/tips2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 2</a>
    <a href="/tips3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 3</a>
    <a href="/tips4" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Passord Generator</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/tips1" class="w3-bar-item w3-button w3-padding-large">Phishing</a>
    <a href="/tips2" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="/tips3" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="/tips4" class="w3-bar-item w3-button w3-padding-large">Passord Generator</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Sikkerhetsguiden</h1>
  <p class="w3-xlarge">En guide for hverdagsmannen på internett</p>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">

<body>
 <style>

.content {
  max-width: 450px;
  margin: auto;
  padding: 10px;
}
</style>



<!--Javascript for å bytte forms som vises når brukeren endrer valg-->
<script type="text/javascript">
function setForm(value) {

    if(value == '1'){
                document.getElementById('1').style='display:block;';
                document.getElementById('2').style='display:none;';
            }
            else{

                document.getElementById('2').style = 'display:block;';
                document.getElementById('1').style = 'display:none;';
            }

}
</script>

<div class="content">
<h1>Passord Generator</h1>


<!--Her er hvor brukeren kan velge. Legg merke til onchange funksjonen på linje 65-->
<form action="/passwordgenerator" method="POST">
<label for="selection">Select an option:</label>
<select name="valg" id="valg" onchange="setForm(this.value)">
<option value=1>Check password strength</option>
<option value=2>Generate password</option>
<!--<p><input type = "submit" value = "submit" /></p>-->
</select>
</form>

<!--Første formen, til å sjekke passord. Ignorer den røde streken.-->
<div id="1">
<label>Check password</label>
<form action="/passwordgenerator" method = "POST">
<input type="hidden" id="selection" name="selection" value="1">
<p>Write password to check here:<input type="password" name="password" /></p>
<p><input type = "submit" value = "submit" /></p>
</form>
</div>

<!--Andre formen, for å lage passord. Legg merke til at den by default er skjult på linje 56-->
<div id="2" style="display: none">
    <label>Generate password</label>
    <form action="/passwordgenerator" method = "POST">
    <input type="hidden" id="selection" name="selection" value="2">
    <p>Write password length here:<input type="text" name="length"></p>
    <p><input type = "Submit" value = "submit" /></p>
    </form>
</div>



<p><strong>{{form_data}}</strong> </p>

</div>


</body>
</html>



  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">


    <div class="w3-twothird">
      <h1>Om Passordgeneratoren vår</h1>
      <h5 class="w3-padding-32">Måten denne funker på kan forklares her, eventuelle disclaimere og fraråding fra å faktisk teste ditt ekte passord</h5>


    </div>
  </div>
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">

 </div>
 <p>Design laget av <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
