<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teknisk Tips</title>
</head>
<!---https://i.imgur.com/R1CFDFz.png--->
<body>
 <style>
body {
  background-image: url('https://i.imgur.com/R1CFDFz.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<h1 align="center">Tips 3</h1>
<p align="center"><strong><a href="/tips1">Link til tips 1</a> <a href="/tips2">Link til tips 2</a> <a href="/tips3">Link til tips 3</a> <a href="/tips4">Link til tips 4</a> </strong></p>
<p align="center"><strong>______________________________________________________________________</strong></p>
<p align="center"> Her er password generator</p>
 <form action="/passwordgenerator" method = "POST">
    <p>Write password to check here:<input type="text" name="password" /></p>
    <p>Write password length here:<input type="text" name="length"></p>
 <label for="selection">Select an option:</label>
<select name="selection" id="selection">
  <option value=1>Select password</option>
  <option value=2>Generate password</option>
    <h1>{{ answer }}  </h1>
</select>
</form>
<p><a href="/">Tilbake til /</a></p>

</body>
</html>
