<!DOCTYPE html>
<html lang="en">
<title>Sikkerhetsguiden: Svindel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Hjem</a>
    <a href="/svindel" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Svindel</a>
    <a href="/virus" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Virus</a>
    <a href="/forebygging" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Forebygging</a>
    <a href="/passordgenerator" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Passord Generator</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/svindel" class="w3-bar-item w3-button w3-padding-large">Svindel</a>
    <a href="/virus" class="w3-bar-item w3-button w3-padding-large">Virus</a>
    <a href="/forebygging" class="w3-bar-item w3-button w3-padding-large">Forebygging</a>
    <a href="/passordgenerator" class="w3-bar-item w3-button w3-padding-large">Passord Generator</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Svindel</h1>
  <p class="w3-xlarge">Phishing, og diverse andre måter å bli svindlet på nett.</p>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b><a id="innhold">Innhold</a></b></h1>
      <h3 class="w3-padding-32"><b><a href="#hvaerphishing">Hva er phishing?</a></b></h3>
      <h3 class="w3-padding-32"><b><a href="#kjennetegn">Hva kjennetegner et phishing-angrep?</a></b></h3>
      <h5 class="w3-padding-32"><b><a href="#kjennetegn">E-Post</a></b></h5>
        <h5 class="w3-padding-32"><b><a href="#sms">SMS</a></b></h5>
      <h3 class="w3-padding-32"><b><a href="#hvorfor">Hvorfor skjer det?</a></b></h3>
      <h3 class="w3-padding-32"><b><a href="#svindelformer">Andre former for svindel på nett</a></b></h3>
      <h3 class="w3-padding-32"><b><a href="#detharskjedd">Hvis man har blitt svindlet</a></b></h3>
    </div>

  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="/static/terry.PNG"
      width="300"
      height="300">
    </div>
  </div>

    <div class="w3-twothird">
      <h1><a id="hvaerphishing">Hva er phishing?</a></h1>

      <h5 class="w3-padding-32">Et phishingangrep er i korte-trekk en melding eller kommunikasjon tilsendt med målet om å få deg til å oppgi informasjon, klikke på en lenke som kan gi enheten din et virus, eller å spre videre lenken. Disse er ofte generaliserte og sendt i massevis til veldig mange forskjellige mottakere, som eksempelet ved siden av her.
        I utgangspunktet er disse relativt ufarlige da de aller fleste blir skeptisk om noen de ikke kjenner lover gull og grønne skoger i en uoppfordret melding.     </h5>
      <h5 class="w3-padding-32">Dette er dog bare de generaliserte phishing-forsøkene, som forsøker å få sendt meldingene til så mange mennesker som mulig.
        Det er lavere individuell sjanse for at et offer kommer til å klikke på linken, men det er fortsatt sendt til en massiv mengde mennesker der noen i all sannsynlighet kommer til å klikke lenken.
        Motsetningen til denne generaliserte phishingen kalles <a href="https://digitalguardian.com/blog/what-is-spear-phishing-defining-and-differentiating-spear-phishing-and-phishing"> spear phishing.</a>
        Spear phishing er en tilsvarende kommunikasjon, men rettet mye mer mot en individuell person eller gruppe, og er i all hovedsak der <a href="https://expertinsights.com/insights/50-phishing-stats-you-should-know/">statistikken</a> rundt phishing kommer fra.
      </h5>

<div class="w3-content">
    <div class="w3-center">
      <img src="/static/phishingdomeneshop1.png"/>
      <p style="color:#A9A9A9">"Et eksempel på en Spear-phishing mail som vi laget til beste evne uten å sette av noen alarmer, da den er bortimot identisk til hvordan domeneshop pleier å sende sine e-poster.</p>
    </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">

    </div>

    <div class="w3-twothird">
      <h1><a id="kjennetegn">Hva kjennetegner et phishing-angrep?</a></h1>
      <h3><a>E-Post</a></h3>
      <h5 class="w3-padding-32">Dette er delen av nettsiden der vi bruker litt tid på å finne ut hvordan man kan identifisere en svindelkommunikasjon. Under er samme bildet vi brukte som eksempel hakket over. </h5>
<img src="/static/phishingdomeneshop1.png"
      />
      <p style="color:#A9A9A9">Et eksempel på en Spear-phishing mail som vi laget til beste evne uten å sette av noen alarmer, da den er bortimot identisk til hvordan domeneshop pleier å sende sine e-poster.</p>

<h5 class="w3-padding-32">På ingen måte en avansert phishing-epost, men overraskende lik i stilen til en ekte e-post fra domeneshop. </h5>
<img src="/static/domeneshopEKTE.PNG"
      />
      <p style="color:#A9A9A9">En ekte e-post fra domeneshop, smålig redigert av personvernårsaker.</p>

      <h5 class="w3-padding-32">Det phishing-eposten gjorde i prinsippet var å skape en følelse av hastverk
      slik at offeret vil få panikk. Denne følelsen om at "Oi, nå må vi handle raskt" kan fort føre til at man ikke følger med på de store tegnene på at denne
        kanskje ikke er en ekte e-post.</h5>

      <img src="/static/domemeshop.png"/>
      <p style="color:#A9A9A9">Et sikkert tips når en E-post haster deg til å klikke på en link er gjerne å se på
      avsender av e-post. Her kan man se at det ikke er domeneshop som har sendt e-post men <em>domemeshop</em>.</p>



    <h5 class="w3-padding-32">Man kan noen ganger også identifisere phishing eller
      spam ved å se på hvor mange mennesker som har mottatt e-posten.</h5>
      <img src="/static/undisclosedrecipients.png"/>
        <p style="color:#A9A9A9">Undisclosed recipients vil tilsi at vi ikke har mulighet til å se hvem
            som har mottatt e-posten og vi kan fra det anta at vi ikke er den eneste.</p>
        <h5 class="w3-padding-32">En vanlig fallgruve når det kommer til usikre lenker er at det forventes alltid at man kan holde over dem og få svaret.</h5>
        <img src="/static/m1over.PNG"/>
        <h5 class="w3-padding-32">Dette stemmer ikke, og er et triks som kan brukes av aktører for å forfalske hva som faktisk ligger bak. På samme måte som denne nettsiden her er laget
        , kan man skrive kode for at det skal f.eks gå an å vise en knapp, og er en metode som brukes av f.eks reklamer fra nettsteder med noen stilige klikk her knapper. </h5>

        <img src="/static/m2over.PNG"/>
        <h5 class="w3-padding-32">Ved å holde musen over en lenke og se nede i venstre hjørnet av nettleseren sin skal man alltid kunne se hvor en lenke faktisk fører, men husk at om du er usikker
        så er det alltid mye bedre å gå direkte til nettleseren det er snakk om enn å klikke på en lenke. </h5>
        <h3 class="w3-padding-32">Lurer du på om du hadde klart å identifisere slike spear-phishing forsøk? Ta deg en titt på Phishingbox sin gratis <a href="https://www.phishingbox.com/phishing-iq-test">Phishingbox IQ Test</a>
        og se hvilken karakter du får. </h3>



    </div>

  </div>

</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h3><a id="sms">SMS</a></h3>
        <h5 class="w3-padding-32">SMS Phishing, også kalt Smishing, er tilsvarende til en phishing-epost i det at det er en kommunikasjon tilsendt for å prøve å lure deg til å trykke på en
        lenke for at du skal oppgi informasjon, infisere enheten din med et virus, spre linken videre, eller ofte alle disse på en gang.</h5>
        <img src="/static/smishing.jpg"
        width="300"/>

    </div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">

 </div>
 <p>Design laget av <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
