<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teknisk Tips</title>
</head>
<body>
 <style>
body {
  background-image: url('https://i.imgur.com/R1CFDFz.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<h1 align="center">Lekne IT-TIPS</strong></h1>
<p align="center"><strong><a href="/tips1">Phishing</a> <a href="/tips2">Link til tips 2</a> <a href="/tips3">Link til tips 3</a> <a href="/tips4">Link til tips 4</a> </strong></p>
<p align="center"><strong>______________________________________________________________________</strong></p>
<p align="center">
Heisann og velkommen! Denne nettsiden er dedikert for deg som er usikker på hvordan du skal holde deg trygg på nett</p>
<p><a href="/">Tilbake til /</a></p>

</body>
</html>
