<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teknisk Tips</title>
</head>
<!---https://i.imgur.com/R1CFDFz.png--->
<body>
 <style>
body {
  background-image: url('https://i.imgur.com/R1CFDFz.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<h1 align="center">Password Generator</h1>
<p align="center"><strong><a href="/tips1">Link til tips 1</a> <a href="/tips2">Link til tips 2</a> <a href="/tips3">Link til tips 3</a> <a href="/tips4">Link til tips 4</a> </strong></p>
<p align="center"><strong>______________________________________________________________________</strong></p>
 <p align="center"><strong>{{form_data}}</strong> </p>
 <form align="center" action="/passwordgenerator" method = "POST">
    <p align="center">Write password to check here:<input type="password" name="password" /></p>
    <p align="center">Write password length here:<input type="text" name="length"></p>
 <label align="center" for="selection">Select an option:</label>
<select align="center" name="selection" id="selection">
  <option align="center" value=1>Select password</option>
  <option align="center" value=2>Generate password</option>
    <p align="center"><input type = "submit" value = "submit" /></p>
</select>
</form>
<p><a href="/">Tilbake til /</a></p>

</body>
</html>
