<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teknisk Tips</title>
</head>
<!---https://i.imgur.com/R1CFDFz.png--->


<h1 align="center">Tips 2</h1>

<p align="center"><strong><a href="/tips1">Phishing</a> <a href="/tips2">Link til tips 2</a> <a href="/tips3">Link til tips 3</a> <a href="/tips4">Passord Generator</a> </strong></p>
<p align="center"><strong>______________________________________________________________________</strong></p>
<p align="center"> tips 2 bros </p>
<body>
 <style>
body {
  background-image: url('https://i.imgur.com/R1CFDFz.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
 <p align="center"><img src="http://i.imgur.com/KbW6vto.gif" height="500px" width="500px"></p>
 <p><a href="/">Tilbake til /</a></p>

</body>
</html>
