<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teknisk Tips</title>
</head>
<!---https://i.imgur.com/R1CFDFz.png--->
<body>
<style>
body {
  background-image: url('https://i.imgur.com/R1CFDFz.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<h1 align="center">Tips 4</h1>
<p align="center"><strong><a href="/tips1">Link til tips 1</a> <a href="/tips2">Link til tips 2</a> <a href="/tips3">Link til tips 3</a> <a href="/tips4">Link til tips 4</a> </strong></p>
<p align="center"><strong>______________________________________________________________________</strong></p>
<p align="center"> Her er tips 4 </p>

<form action="/passwordgenerator" method = "POST">
<p align="center"> Her er password generator</p>
<p>Write password to check here:<input type="text" name="password" /></p>
<p>Write password length here:<input type="text" name="length"></p>
<label for="selection">Select an option:</label>
<select name="selection" id="selection">
<option value="1">Check password strength</option>
<option value="2">Generate strong password</option>
</select>
<p><input type = "submit" value = "submit" /></p>
<p><a href="/">Tilbake til /</a></p>
</form>

</body>
</html>
