<!DOCTYPE html>
<html lang="en">
<title>Sikkerhetsguiden</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Hjem</a>
    <a href="/svindel" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Svindel</a>
    <a href="/virus" class="w3-bar-item w3-button w3-padding-large w3-white">Virus</a>
    <a href="/forebygging" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Forebygging</a>
    <a href="/passordgenerator" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Passord Generator</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/svindel" class="w3-bar-item w3-button w3-padding-large">Svindel</a>
    <a href="/virus" class="w3-bar-item w3-button w3-padding-large">Virus</a>
    <a href="/forebygging" class="w3-bar-item w3-button w3-padding-large">Forebygging</a>
    <a href="/passordgenerator" class="w3-bar-item w3-button w3-padding-large">Passord Generator</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Virus</h1>
  <p class="w3-xlarge">Trygghet mot nett-infeksjoner, og hvordan holde systemet sitt rent</p>

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1><b><a id="innhold">Innhold</a></b></h1>
      <h3 class="w3-padding-32"><b><a href="#Hvaervirus">Hva er egentlig et virus?</a></b></h3>
      <h3 class="w3-padding-32"><b><a href="#how">Hvordan får man et virus?</a></b></h3>

      <h3 class="w3-padding-32"><b><a href="#notice">Hvordan legger man merke til det?</a></b></h3>
      <h3 class="w3-padding-32"><b><a href="#stopit">Hvordan stopper man et virus?</a></b></h3>
    </div>


  </div>
</div>



<!-- Second Grid: Hva er et virus? -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div class="w3-twothird">
      <h1><a id="Hvaervirus">Hva er egentlig et virus?</a></h1>
      <h5 class="w3-padding-32"><a href="#innhold">Tilbake til topp</a></h5>
      <h5 class="w3-padding-32">Et virus, i datakonteksten, er et stykke ondsinnet kode designet med muligheten for å kopiere seg selv. Virus er laget for forskjellige formål, men fellestrekket
       er at viruset vil prøve å lure dine venner til å klikke på en tilsvarende lenke. </h5>
      <img src="/static/isvideoyours.png"
      width="300">
      <p style="color:#A9A9A9">En typisk melding som ble sendt ut ofte i 2017 og 2019. Bilde tatt fra
        <a href="https://www.somersetlive.co.uk/whats-on/family-kids/facebook-its-you-virus-message-4076974">somersetlive.co.uk</a>, fra Ellie Kendall.</p>

       <h5 class="w3-padding-32">Etter et virus har bitt seg fast i maskinen din, så kan skaden være stor. Ofte samler virusene inn informasjon, passord og hva enn det kan få tak i.
       Det legges gjerne også en bakdør, kjent som en trojaner, i maskinen. Derfra har angriperne alltid mulighet til å kontrollere maskinen. Maskinen din vil da kunne bistå i cyber-angrep
       fra ditt nettverk uten at du vet noe om det. </h5>
    </div>
  </div>
</div>



<!-- Third Grid: Hvordan får man et virus? -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div class="w3-twothird">
      <h1><a id="how">Hvordan får man et virus?</a></h1>
      <h5 class="w3-padding-32"><a href="#innhold">Tilbake til topp</a></h5>

      <h5 class="w3-padding-32">Du kan få et virus ved å åpne e-postvedlegg fra kilder du ikke kjenner til er fra falske e-poster. Akkurat dette kan du lese mer om
        <a href="/svindel#kjennetegn">her. </a>  </h5>
      <img src="/static/coronaupdateviru.jpg">
      <p style="color:#A9A9A9">En melding laget for å oppfordre mottaker til å klikke og å kjøre en
        <a href="https://www.howtogeek.com/363326/what-is-a-dat-file-and-how-do-i-open-one/">.dat</a> fil. Bilde tatt fra
        <a href="https://success.trendmicro.com/solution/000247621-Coronavirus-COVID-19-is-being-used-in-email-Spam-attacks-Malware-and-other-Scams">Trend Micro.</a>
      <h5 class="w3-padding-32">Det å laste ned programmer fra kilder man ikke kan stole på. Ofte om man vil ha et program så kan det være fort gjort å bare google "program download"
    . Risikoen her er dersom programmet du laster ned i prinsipp er et utrygt program, eller om du laster ned riktig program men fra en feil kilde, så kan det være infisert med virus. </h5>
    <img src="/static/freeminecraft.PNG"
    width="600">
    <p style="color:#A9A9A9">Et vanlig triks for disse typene svindel er at de prøver å treffe demografier som gjerne er naive, som barn på jakt etter spill de ikke får lov til å kjøpe.
     Et kjapt google-søk på "free minecraft download", og å bla litt ned viser en nettside som tilbyr en gratis nedlastning av spillet.<br> Jeg vet dog ikke
     om denne nettsiden bare skal være som et alternativ for de offisielle nettsidene eller om det faktisk er et virus bak. </p>

       <h5 class="w3-padding-32">Reklamer kan også være en kilde til virus, noe som kalles Malvertising. Dette er en prosess som involverer å legge ut en reklame på en gyldig nettside, eller
       reklameringsbyrå som spesifiserer seg på reklamer på nett. Dette var farligere før når Adobe Flash Player ble aktivt brukt på nett, da dette kunne være en metode å kjøre kode på en offermaskin.
       </h5>
        <img src="/static/malvertisingexample.png"
        width="500">
      <p style="color:#A9A9A9">Et satt-på-spissen eksempel av et slikt malvertising angrep, tatt fra <a href="https://nordvpn.com/no/blog/malvertising/">Nordvpn.</a> </p>
      <h5 class="w3-padding-32">Vanligvis kan man føle seg relativt trygg dersom man holder seg unna nedlastinger og suspekte nettsider, men om uhellet først skal være ute at du klikker så er det ve
      ldig greit å ta en rutine-sjekk med for eksempel et anti-virus eller malwarebytes. Vi skriver litt mer om Anti-virus <a href="#stopit">lengre nede.</a></h5>

    </div>
  </div>
</div>



<!-- Fourth Grid: Hvordan legger man merke til det? -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div class="w3-twothird">
      <h1><a id="notice">Hvordan legger man merke til det?</a></h1>
      <h5 class="w3-padding-32"><a href="#innhold">Tilbake til topp</a></h5>
      <h5 class="w3-padding-32">Et virus har oftest som hovedoppdrag å forholde seg uoppdaget eller i en form for dvale frem til det trengs.
      Det som ofte er et veldig klart tegn på om man har et virus, er dersom maskinen bytter nettleser eller søkemotor av seg selv, eller om du får rare reklame-popups på steder man ikke ville
        forventet det, som for eksempel på myndigheters nettsider. Dette kalles adware, og kommer gjerne med installasjoner av gratis programmer på litt suspekte nettsider. </h5>

      <img src="/static/adware1.png">
        <p style="color:#A9A9A9">Det er viktig å lese hva man faktisk installerer når man installerer et gratis program. Man kan unngå mye hodepine ved å bare følge med her.
        Bilde fra <a href="https://www.kaspersky.com/blog/adware-toolbar/5513/">Kaspersky.</a> </p>

      <h5 class="w3-padding-32">Adware er det eneste eksempelet som egentlig gjør noe veldig merkbart annet enn å sakke ned maskinen, med unntak for phishing-programmer, programmer
      med en login-funksjon som prøver å forfalske at det er et annet program f.eks steam. Dette gjør de andre typene virus vanskelig å oppdage, og det er derfor sterkt anbefalt at man til alle tider har
      et antivirus-program kjørende på maskinen. </h5>

    </div>
  </div>
</div>





<!-- Fifth Grid: Stopper man det? -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div class="w3-twothird">
      <h1><a id="stopit">Hvordan stopper man det?</a></h1>
      <h5 class="w3-padding-32"><a href="#innhold">Tilbake til topp</a></h5>
      <h5 class="w3-padding-32">En vanlig problemstilling er at når man vet man har et virus, så vil man google hvordan man fjerner dette spesifikke viruset. Da er det
      veldig vanlig å klikke seg inn på første og beste metode for å fjerne dette viruset, men det å love å fjerne virus er også en vanlig kilde for virus. Et solid tips dersom du allerede har
      et virus er <a href="https://www.malwarebytes.com/">Malwarebytes</a>, en solid industristandard med en gratis trial, noe som burde være nok til å få viruset unna.</h5>
    <img src="/static/warninginfected.jpg"
    width="500">
       <p style="color:#A9A9A9">Dette er en pop-up som kan dukke opp uten at du går inn på en suspekt nettside, ved f.eks at du allerede har noe ad-ware på maskinen din.
        Bilde fra <a href="https://malwaretips.com/blogs/immediate-support-com-removal/">Malwaretips.</a> </p>


      <h5 class="w3-padding-32">En problemstilling vi ble opplyst om i undersøkelsen vi utførte for denne nettsiden, var at noen mente at anti-virus som kommer med en datamaskin eller som
      man blir oppfordret til å kjøpe kanskje har mer salgsfokus enn anti-virus fokus.</h5>
      <img src="/static/powerantivirus.PNG"
      width="500">
      <p style="color:#A9A9A9">Søkeresultatene på antivirus hos Power. </p>

      <img src="/static/elkjopantivirus.PNG">
      <p style="color:#A9A9A9">Søkeresultatene på antivirus hos Elkjøp. </p>


      <h5 class="w3-padding-32">Behovet for et betalt antivirus kommer jo veldig ofte an på bruken du har av en datamaskin. Dersom du surfer sosiale medier, bedriver netthandel og ser på netflix,
      så er det ikke alltid nødvendig å betale masse penger for å holde maskinen trygg, men derimot om du bruker mye tid på dele filer og å laste ned filer eller programmer så kan det være smart å ha.</h5>

      <img src="/static/virustest.PNG">
      <p style="color:#A9A9A9">Windows Defender gjør for det meste jobben for min del. </p>

       <h5 class="w3-padding-32">Ikke bruk 600,- på antivirus med mindre du må, gjør heller din egen research og ta dine egne risikovurderinger rundt behovet. </h5>

    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">

 </div>
 <p>Design laget av <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
